<br>
<%= form_tag(searches_path, method: :get, class: "form-inline", role: 'search') do %>
  <div class="input-group">
    <%= text_field_tag :term,
                       params[:term],
                       id: 'users_search',
                       autocomplete: :off,
                       placeholder: 'Search',
                       class: 'form-control' %>&nbsp;&nbsp;
    <div class="input-group-btn search-panel">
      <%= link_to 'Clear', root_url, class: "btn btn-info" %>
      <%= submit_tag 'Search', name: nil, class: "btn btn-success" %>
    </div>
  </div>
<% end %>
<br>
<% if @users.length > 0 %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Email</th>
    <th>Type</th>
    <th>Country</th>
    <th>Gender</th>
    <th>Disease</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each_with_index do |user, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.profile.profile_type %></td>
      <td><%= user.profile.country.iso2 %></td>
      <td><%= user.profile.gender %></td>
      <td><%= user.disease_histories.last.disease.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br />
<div class="row">
  <div class="col-md-4">
    <%= pie_chart profile_chart(@users.results.pluck(:id)) %>
    <%#= pie_chart @users.joins(:profile).group('profiles.gender').count %>
  </div>
  # <div class="col-md-4">
  #   <%#= pie_chart @users.joins(:profile=>[:country]).group('countries.iso2').count %>
  # </div>
  # <div class="col-md-4">
  #   <%#= pie_chart @users.joins(:disease_histories=>[:disease]).group('diseases.name').count %>
  # </div>
</div>
<% else %>
  <h3>No Result Found</h3>
<% end %>