<%#= app/views/users/_form.html.erb %>
<%= form_with(model: @user, local: true) do |u| %>
    <!--Body-->
    <% flash.each do |type, msg| %>
        <div class="alert alert-danger" role="alert">
            <%= msg %>
        </div>
    <% end %>

    <% if @user.errors.any? %>

        <div class="form-errors">
            <h4><%= pluralize(@user.errors.count, "error") %> stopped you from updating this user:</h4>
            <% @user.errors.full_messages.each do |msg| %>
                <div class="alert alert-danger"  role="alert">
                    <%= msg %>
                </div>
            <% end %>
        </div>
    <% end %>

    <div class="form-group col-md-6">
        <%= u.label :name, 'Enter Name' %>
        <%= u.text_field :name , class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
        <%= u.label :name, 'Enter Email' %>
        <%= u.email_field :email , class: "form-control" %>
    </div>

    <!-- profile model fields -->
    <%= u.fields_for :profile, @profile do |p| %>

    <div class="form-group col-md-6">
        <%= p.label :gender, 'Select Gender' %><br/>
        <%= p.radio_button :gender, 'Male' %> Male<br />
        <%= p.radio_button :gender, 'Female' %> Female<br />
        <%= p.radio_button :gender, 'Other' %> Other<br />
    </div>

    <div class="form-group col-md-6">
        <%= p.label :born_year, 'Select Birth Year' %>
        <%= p.select :born_year, options_for_select(born_years, @user.profile.born_year), {}, {:class => 'form-control'} %>
    </div>

    <div class="form-group col-md-6">
    <%= p.label :born_month, 'Select Birth Month' %>
          <%= p.select :born_month, options_for_select(born_months, @user.profile.born_month), {}, {:class => 'form-control'} %>
        </div>

        <div class="form-group col-md-6">
          <%= p.label :country_id, 'Select Country' %>
          <%= p.select :country_id, options_for_select(@countries.map { |country| [country['name'], country[:id]] }, @user.profile.country_id), {}, {:class => 'form-control'} %>
        </div>

        <div class="form-group col-md-6">
          <%= p.label :profile_type, 'Type' %><br/>
          <%= p.radio_button :profile_type, 'Patient' %> Patient<br />
          <%= p.radio_button :profile_type, 'Carer' %> Carer<br />
        </div>
  <% end %>

  <!-- disease history model fields -->
  <%= u.fields_for :disease_histories, @disease_histories do |d| %>
    <div class="form-group col-md-6">
      <%= d.label :disease_id, 'Select Disease' %>: <br/>
      <%= d.select :disease_id, options_for_select(@diseases.map { |disease| [disease['name'], disease['id']] }, @user.disease_histories.last.disease_id), {}, {:class => 'form-control'} %>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= link_to 'Back', users_path, class: "btn btn-info waves-effect waves-light" %>
    </div>
    <div class="form-group col-md-8">
      <button type="submit" class="btn btn-success waves-effect waves-light" data-disable-with="Save">Submit</button>
    </div>
  </div>

<% end %>
